/* Add your custom extension styling here */
.label-1 {
    font-weight: normal;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}
.label-2 {
    font-weight: normal;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    /* 黑色描边 */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}
.system-icon {
  width: 31px;
  height: 31px;
}
